<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logistic Business</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename = 'images/b4.jpg') }}')">
	<center>
		<h1><em>WELCOME TO LOGISTIC BUSINESS</em></h1>
		<br>
		<h3>This is a distribution logistics business unit and receiving complaints from its customer.</h3>
		<br>
		<h2><a href="/registrationform">Register Your Complaint</a></h2>
		<h2><a href="/retrieveform">Check Status</a></h2>
	</center>
</body>
</html>